@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200300400500600700800&family=Inter:wght@100200300400500600700800900&display=swap')
@tailwind base
@tailwind components
@tailwind utilities

@layer utilities 
  .font-dosis 
    font-family: 'Dosis', sans-serif
  
  .font-inter 
    font-family: 'Inter', sans-serif
  


@layer components 
  .title, .content  h1
    @apply text-3xl font-dosis font-bold text-light-text
  
  .subtitle, .content  h2
    @apply text-xl font-inter text-light-text2
  
  .paragraph, .content  p, *
    @apply text-base font-inter text-light-text

  .dark
    .title, .content  h1
      @apply text-dark-text
    .subtitle, .content  h2
      @apply text-dark-text2
    .paragraph, .content  p, *
      @apply text-dark-text

   
@layer base
  @media (orientation: portrait) and (max-width: 1280px) 
    body
      @apply mx-2 ml-12 my-2
    .navbar
      @apply fixed left-0 top-0 bg-gray-200 w-10 h-full duration-200 ease-in-out py-4 flex flex-col justify-start
      &> #after
        @apply fixed right-0 top-0 w-0 h-screen bg-gray-800 opacity-20 duration-200 ease-in-out
      &#opened
        @apply w-5/6
        &> #after
          @apply  w-1/6 duration-200 ease-in-out
      & > button, & > a
        @apply bg-gray-300 h-10 my-4 flex justify-center
        & > p
          @apply text-xl text-light-text inline-block  align-bottom
      & > button:last-of-type 
        @apply mt-auto
      & > a:last-of-type 
        @apply mb-8


  .dark
    body
      @apply bg-dark-bg
    .navbar
      @apply bg-gray-800
      &> #after
        @apply bg-gray-200
      & > button, & > a
        @apply bg-gray-600
        & > p 
          @apply text-dark-text
      &> a#dropdownButton:hover > div#dropdown
        @apply bg-gray-800
        & > ul
          & > li
            @apply text-dark-text
            &:hover
              @apply bg-gray-900
          

  @media (orientation: landscape) and (max-width: 1280px) 
    body
      @apply mx-2 my-2 mb-10
    .navbar
      @apply fixed left-0 bottom-0 flex flex-row w-full h-10 duration-200 ease-in-out bg-gray-200 justify-evenly 
      &#opened
        @apply h-20
      & > button, & > a
        @apply bg-gray-300 mx-2 w-36 flex flex-col-reverse justify-center content-center
        & > p
          @apply text-sm text-light-text2 text-center mx-2
      & > button
        &#openMenu
          & > div
            transform: rotate(-90deg)
          
  
  @media (min-width:1280px)
    body
      @apply mx-2 my-2 mt-10
    .navbar
      @apply fixed left-0 top-0 flex flex-row w-full h-10 duration-200 ease-in-out bg-gray-200 justify-start 
      &#opened
        @apply h-20
      & > button, & > a
        @apply bg-gray-300 mx-2 w-40 flex flex-row justify-center items-center
        & > p
          @apply text-light-text2 mx-2 inline-block align-middle
      & > a#dropdownButton
        @apply relative 
        & >div#dropdown
          @apply absolute top-10 opacity-0 duration-200 ease-in pointer-events-none
          filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1))
          transform: translateY(-1.5rem) scale(0.9)
          & > ul
            & > li
              @apply py-1 px-5
        &:hover > div#dropdown
          @apply opacity-100 duration-200 ease-in pointer-events-auto bg-gray-300 py-2
          transform: translateY(0) scale(1)
          & > ul
            @apply flex flex-col gap-2
            & > li
              @apply py-1 px-5
              transform: scale(1.04)
              &:hover
                @apply bg-gray-100
      &>button#colorMode
        @apply w-96 px-10 mx-3 ml-auto justify-self-end 